{
  "extends": ["alloy", "alloy/react", "alloy/typescript", "plugin:react-hooks/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "amd": true
  },
  "globals": {
    "seajs": false,
    "process": false,
    "JSX": true
  },
  "plugins": [],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-useless-constructor": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "@typescript-eslint/no-require-imports": "off",
    "max-params": "off",
    "max-nested-callbacks": "off",
    "complexity": "off",
    "no-param-reassign": "off"
  }
}
