# Operating System files
.DS_Store

# Dependency directories
node_modules/
vendor/

# Optional npm cache directory
.npm

# personal IDE config files
.vscode/
.idea/

# test coverage
coverage/

# cache
.eslintcache

# Grafana plugin files
tencentcloud-monitor-app-*.zip
