# Operating System files
.DS_Store

# Dependency directories
node_modules/
vendor/

# Optional npm cache directory
.npm

# personal IDE config files
.vscode/
.idea/

# test coverage
coverage/

# lock files
package-lock.json

# cache
.eslintcache

# Grafana plugin files
# dist/MANIFEST.txt
tencentcloud-monitor-app-*.zip
