.tc-sub-params {
  margin-top: 4px;
  margin-left: 125px;
}

.tc-sub-params .gf-form-inline {
  min-height: 42px;
}

.tc-sub-params .gf-form-inline .gf-form-label {
  margin-bottom: 2px;
}

.tc-sub-params .tc-info-label {
  margin-bottom: 6px;
}

.tc-sub-params .tc-info-label > a {
  margin-left: 10px;
}

.tc-switch {
  border-left: 1px solid #262628;
  margin-bottom: 0 !important;
}

.tc-condition-block {
  margin-right: 10px;
  display: inline-block;
}

.tc-condition-block .tc-condition-input {
  border-radius: 0;
}

.tc-condition-block .tc-condition-minus {
  vertical-align: top;
  border-radius: 0 3px 3px 0;
}

.tc-condition-block .tc-condition-dropdown {
  display: inline-block;
}

.tc-condition-block > input {
  display: inline-block;
  margin-right: 0;
}

.tc-condition-block > label {
  display: inline-block;
}

.tc-condition-add {
  display: inline-block;
  vertical-align: top;
}

.tc-condition-add > label {
  border-radius: 3px;
}
.filtered-color {
  color: #ff851b;
}
.secret-tips {
  position: absolute;
  right: -25px;
  border-radius: 2px;
  background: #1b1b1b;
  padding: 10px;
  top: -35px;
  width: 300px;
  border: 1px solid #2c3235;
}
.secret-tips-tri {
  position: absolute;
  width: 15px;
  height: 15px;
  left: -8px;
  top: 60px;
  background: #1b1b1b;
  border: 1px solid #2c3235;
  border-top: 0;
  border-right: 0;
  transform: rotate(45deg);
}

.rc-cascader-menu-item {
  min-width: 160px;
  font-size: 14px;
}
