<h3 class="page-heading">Security Credentials</h3>

<div class="gf-form-group" style="position: relative">
  <div class="gf-form-inline">
    <div class="gf-form">
      <span class="gf-form-label width-9" style="justify-content: flex-start">
        <span style="color: red">*&nbsp;</span>
        SecretId
      </span>
      <input
        ng-style="{'border-color': ctrl.error.secretId==='' ? '#0b0c0e' : '#f00' }"
        class="gf-form-input width-30"
        type="text"
        ng-model="ctrl.current.jsonData.secretId"
        required
        ng-blur="ctrl.checkSecretId(ctrl.current.jsonData.secretId)"
      />
      <!-- <info-popover mode="right-absolute">
        <p>SecretId is used to identify the identity of the API caller.</p>
        <a target="_blank" href="https://console.cloud.tencent.com/cam/capi"> Click here for more information. </a>
      </info-popover> -->
    </div>
  </div>
  <div class="gf-form-inline">
    <div class="gf-form">
      <span class="gf-form-label width-9" style="justify-content: flex-start">
        <span style="color: red">*&nbsp;</span>
        SecretKey
      </span>
      <input
        ng-style="{'border-color': ctrl.error.secretKey==='' ? '#0b0c0e' : '#f00' }"
        class="gf-form-input width-30"
        type="password"
        ng-model="ctrl.current.jsonData.secretKey"
        ng-blur="ctrl.checkSecretKey(ctrl.current.jsonData.secretKey)"
      />
      <!-- <info-popover mode="right-absolute">
        <p>SecretKey is used to encrypt the signature and validate the signature of the server-side.</p>
        <a target="_blank" href="https://console.cloud.tencent.com/cam/capi"> Click here for more information. </a>
      </info-popover> -->
    </div>
  </div>
  <div class="secret-tips">
    <div class="secret-tips-tri"></div>
    <p>
      <span style="color: red">{{[ctrl.error.secretKey, ctrl.error.secretId].join('')}}</span> SecretKey and SecretId is
      used to encrypt the signature and validate the signature of the server-side.
    </p>
    <a
      style="text-decoration: underline"
      href="https://console.cloud.tencent.com/cam/capi"
      target="_blank"
      noreferrer
      noopenner
      >Click here for more information.</a
    >
  </div>
</div>

<h3 class="page-heading">Monitor Services</h3>
<div style="display: flex; position: relative">
  <input
    class="gf-form-input width-20"
    type="search"
    ng-model="ctrl.filterKey"
    style="margin-bottom: 10px"
    placeholder="Input keyword to filter..."
  />
  <label class="gf-form-label query-keyword" style="margin-left: 20px">Select All</label>
  <gf-form-switch class="gf-form" label-class="width-7" checked="ctrl.allChecked" switch-class="max-width-5">
  </gf-form-switch>
</div>

<div class="gf-form-group">
  <div class="gf-form" ng-repeat="service in ctrl.filteredList">
    <span class="gf-form-label width-20">
      <span ng-bind-html="service.filteredLabel || service.label"></span>
      <info-popover mode="right-normal">
        <a target="_blank" href="{{service.href}}"> Click here for more information of {{service.label}}. </a>
      </info-popover>
    </span>
    <gf-form-switch
      class="gf-form"
      label-class="width-7"
      checked="ctrl.current.jsonData[service.service]"
      switch-class="max-width-5"
    >
    </gf-form-switch>
  </div>
</div>
