.tc-sub-params {
  margin-top: 4px;
  margin-left: 125px;
}

.tc-sub-params .gf-form-inline {
  min-height: 42px;
}

.tc-sub-params .gf-form-inline .gf-form-label {
  margin-bottom: 2px;
}

.tc-sub-params .tc-info-label {
  margin-bottom: 6px;
}

.tc-sub-params .tc-info-label> a {
  margin-left: 10px;
}

.tc-switch {
  border-left: 1px solid #262628;
  margin-bottom: 0 !important;
}

.tc-condition-block {
  margin-right: 10px;
  display: inline-block;
}

.tc-condition-block .tc-condition-input {
  border-radius: 0;
}

.tc-condition-block .tc-condition-minus {
  vertical-align: top;
  border-radius: 0 3px 3px 0;
}

.tc-condition-block .tc-condition-dropdown {
  display: inline-block;
}

.tc-condition-block> input {
  display: inline-block;
  margin-right: 0;
}

.tc-condition-block> label {
  display: inline-block;
}

.tc-condition-add {
  display: inline-block;
  vertical-align: top;
}

.tc-condition-add> label {
  border-radius: 3px;
}